<!-- app/views/artworks/index.html.erb -->

<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d3mbwbgtcl4x70.cloudfront.net/Ombre_Elegance_08ec1c43a1.webp);">
  <div class="container">
    <h1>Rent Art. Refresh Your Space.</h1>
    <p>Curated art collections, delivered to your door. Swap pieces monthly, seasonally—or whenever you need a change.</p>
    <a class="btn btn-dark" href="#all-works">Browse Collections</a>
    <a class="btn btn-dark" href="/artworks/new">Add My Artwork</a>
  </div>
</div>

<section id="all-works">

<h2 class="text-center">All The Works</h2>

</section>

<div class="container mt-5 d-flex justify-content-center">

<div class="artwork-grid">
  <% @artworks.each do |artwork| %>
    <%= link_to artwork_path(artwork) do %>
      <div class="card-trip mb-3">
        <% if artwork.photo.attached? %>
          <%= cl_image_tag artwork.photo.key, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "dont-delete/hero.png", width: 400 %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%=artwork.name %></h2>
            <p class="mt-1"><%= artwork.description %></p>

          <h2 class="card-trip-pricing mt-2 text-end">Rate: $<%= artwork.price %>/day</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
