<!-- app/views/artworks/index.html.erb -->

<div class="d-flex align-items-center p-5">
  <div class="container">
      <h1>Rent Art. Refresh Your Space.</h1>
      <p>Curated art collections, delivered to your door. Swap pieces monthly, seasonally—or whenever you need a change.</p>
      <a class="btn btn-dark" href="#all-works">Browse Collections</a>
      <a class="btn btn-dark" href="/artworks/new">Add My Artwork</a>
  </div>

  <%= image_tag("dont-delete/hero.png", id: "banner-img") %>
</div>

<section id="all-works">

<h2 class="text-center">All The Works</h2>

</section>

<div class="container mt-5 d-flex justify-content-center">

<div class="artwork-grid">
  <% @artworks.each do |artwork| %>
    <%= link_to artwork_path(artwork) do %>
      <div class="card-trip mb-3">
        <% if artwork.photo.attached? %>
          <%= cl_image_tag artwork.photo.key, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "dont-delete/hero.png", width: 400 %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%=artwork.name %></h2>
            <p class="mt-1"><%= artwork.description %></p>

          <h2 class="card-trip-pricing mt-2 text-end">Rate: $<%= artwork.price %>/day</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
