<div class="container col-6 mt-5">

<h2> <%= @artwork.name %></h2>

<p>Description: <%= @artwork.description %></p>
<p>Location: <%= @artwork.location %></p>
<p>Daily rate: $<%= @artwork.price %></p>

<h3>Make a reservation</h3>

<%= render partial: "bookings/form", locals: { artwork: @artwork, booking: @booking } %>

<%= link_to 'return to all artworks', artworks_path%>

</div>
