<div class="container mt-5 mb-5">
  <%= link_to 'return to all artworks', artworks_path%>
    <div class="row">
      <div class="col-md-8">

        <h2> <%= @artwork.name %></h2>

        <% if @artwork.photo.attached? %>
            <%= cl_image_tag @artwork.photo.key, width: 700, height: 500, crop: :fill, gravity: :center %>
        <% else %>
          <%= image_tag "lillies.jpg", width: 400 %>
        <% end %>

<p><%= @artwork.description %></p>
<p>Location: <%= @artwork.location %></p>
<p id="everyday_rate">Daily rate: <strong>$<%= @artwork.price %></strong></p>

      </div>

      <div class="col-md-4">

        <h3>Make a reservation</h3>

        <%= render partial: "bookings/form", locals: { artwork: @artwork, booking: @booking } %>

      </div>
    </div>
</div>
