<h1> Bookings </h1>

<div>
    <%= @booking.user.name %> 
    <%= @booking.artwork.name %> 
    <%= @booking.start_date %>
    <%= @booking.end_date %>
</div>


<%= link_to 'back', artworks_path, class: "btn btn-primary"%>

<%# <%= link_to 'Delete', artworks_path%> 