<div class="container col-6 mt-5">

<h1><%= @booking.artwork.name %> was Successfully Booked! </h1>

<div>
    <p>Reserved from: <%= @booking.start_date %></p>
    <p>Reserved until: <%= @booking.end_date %></p>
    <p>Artwork owner <strong><%= @booking.user.name %></strong> will contact you shortly.</p>

</div>


<%= link_to 'See more artworks', artworks_path, class: "btn btn-primary"%>

</div>
